# MkDocs output
/site/
# Python virtual environments
.venv/
env/
venv/
# Python caches
__pycache__/
*.py[cod]
*$py.class
# macOS system files
.DS_Store
.AppleDouble
.LSOverride
# Linux swap files
*~
# Linux nohup redirects:
nohup.out
# VSCode workspace settings
.vscode/
.vscode/settings.json
# Node / npm (if used)
node_modules/
# Logs
*.log
# Backup files
*.bak
*.bak2
# Temporary commit message file
commit-message.txt
# Environment-specific; for resolving PlnatUML server
.env
# Geany project file(s)
*.geany
# Archive folder
.archive



.directory
