# MkDocs core
mkdocs==1.6.1
mkdocs-material==9.5.39

# Plugins
mkdocs-mermaid2-plugin==1.2.1
mkdocs-awesome-pages-plugin==2.8.0

# Extensions
pymdown-extensions==10.8.1
mkdocs-material-extensions==1.3.1

# for graph view of site content
# re-add after CICD stabilizes: jinja2==3.1.3